* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    height: 75vh;
    background-color: #7fffd4;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    height: 10vh;
    display: flex;
    align-items: center;
}

h1, .footer-message, button{
    margin: 30px;
}

button{
    padding: 5px;
    width: 70px;
}

.grid{
    border: 1px solid black;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    background-color: violet;
    border: 1px solid white;
    color: white;
}